{% extends "base.html" %}
{% block content %}
    <div class="content-section center">
      <h1>Account</h1>
      <form method="post">
        {{ form.hidden_tag() }}
        {% for field in form %}
        {% if field not in [form.csrf_token, form.submit] %}
        <div class="txt_field">
            {% if field.errors %}
            {{ field }}
            <div class="small text-danger" style="position:absolute;">
                {% for error in field.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
                {{ field }}
                {% endif %}
                {{ field.label }}
        </div>
        {% else %}
        {% if field == form.submit %}
        {{ field }}
        {% endif %}
        {% endif %}
        {% endfor %}
        <div class="signup_link">
        </div>
    </form>
    </div>  
    <style>
        #picture {
            margin-top: .7em;
        }
    </style>
{% endblock content %}