{% extends "base.html" %}
{% block content %}
    <div class="center" style="width:40em;">
      <h1>Account</h1>
      <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="d-flex justify-content-between">
            <div style="width:10vw;">
                <div class="media" style="margin-top:2em;">
                    <img class="rounded-circle account-img" src="{{ image_file }}" height="240" width="240">
                </div>
            </div>
            <div class="">
                {% for field in form %}
                {% if field not in [form.csrf_token, form.submit] %}
                <div class="txt_field">
                    {% if field.errors %}
                    {{ field }}
                    <div class="small text-danger" style="position:absolute;">
                        {% for error in field.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ field }}
                        {% endif %}
                        {{ field.label }}
                </div>
                {% else %}
                {% if field == form.submit %}
                {{ field }}
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="signup_link">
        </div>
    </form>
    </div>  
    <style>
        #picture {
            margin-top: .7em;
        }
    </style>
{% endblock content %}