{% extends "base.html" %}
{% block title %}loginform{% endblock %}
    <div class="loginbox">
        <img src="avatar.png" class="avatar">
            <h1>Login Here</h1>
            <form>
                <p>Username</p>
                <input type="text" name="" placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="" placeholder="Enter Password">
                <input type="submit" name="" value="Login">
                <a href="#">Lost your password?</a>
                <a href="#">Don't have an account?</a>
            </form>
            
    </div>
{% endblock %}