{% extends "base.html" %}
{% block title %}paymentpage{% endblock %}


{% block content %}
<body>
    <header>
        <!-- <div class="boxContainer">
            <table class="elementsContainer">
                <tr>
                    <td>
                        <input type="text" placeholder="Search" class="search">
                    </td>
                </tr>
            </table>
        </div>
        <a href="#" class="btn-area">Settings</a> -->
    </header>
    <div class="container">
        <div class="gallery">
            <img src="\static\pictures\helloworldposter.jpeg">
                <div class="desc">Hello World</div>
        </div>
        <br>
        <div class="gallery">
            <img src="\static\pictures\weatheringwithyou.jpg">
                <div class="desc">Your Name</div>
        </div>
        <div class="gallery">
            <img src="\static\pictures\taktopdestinyposter.jpg">
                <div class="desc">Takt Op Destiny</div> 
        </div>
    <!-- <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="gallery">
            <img src="\static\pictures\helloworldposter.jpeg">
                <div class="desc">Hello World</div>
            </div>
          </div>
          <div class="col-sm">
            <div class="gallery">
            <img src="\static\pictures\weatheringwithyou.jpg">
                <div class="desc">Weathering With You</div>
            </div>
          </div>
          <div class="col-sm">
            <div class="gallery">
            <img src="\static\pictures\taktopdestinyposter.jpg">
                <div class="desc">Takt Op Destiny</div> 
            </div>
          </div>
        </div>
      </div> -->
</body>
{% endblock %}