<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <header>
        <img src="logohmovies_301.png" width="110" height="70" alt="" class="logo">
        <nav>
            <ul class="nav-area">
                <li><a href="#">Home</a> </li>
                <li><a href="#">Trending</a> </li>
                <li><a href="#">New Releases</a> </li>
            </ul>
        </nav>
        <div class="boxContainer">
            <table class="elementsContainer">
                <tr>
                    <td>
                        <input type="text" placeholder="Search" class="search">
                    </td>
                </tr>
            </table>
        </div>
        <a href="#" class="btn-area">Settings</a>
    </header>
    <div class="container">
        <div class="gallery">
            <img src="demonslayerposter.jpeg">
                <div class="desc">Demon Slayer: Mugen Train</div>
        </div>
        <div class="gallery">
            <img src="iwanttoeatyourpancreasposter.jpg">
                <div class="desc">I Want To Eat Your Pancreas</div>
        </div>
        <div class="gallery">
            <img src="helloworldposter.jpeg">
                <div class="desc">Hello World</div>
        </div>
        <div class="gallery">
            <img src="weatheringwithyouposter.jpeg">
                <div class="desc">Your Name</div>
        </div>

    </div>
</body>
</html>