{% extends "base.html" %}
{% block title %}new password{% endblock %}


{% block content %}
    <div class="form-container">
        <form action="#" method="post" class="form-wrap">
            <h2>New Password</h2>
            <div class="form-box">
                <input type="text" placeholder="Enter Email">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Enter new password">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Re-enter new password">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Enter OTP">
            </div>
            <div class="form-submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}


