{% extends "base.html" %}
{% block title %}new password{% endblock %}


{% block content %}
    <div class="form-container">
        <form action="#" method="post" class="form-wrap">
            <h2>Enter email</h2>
            <div class="form-box">
                <input type="text" placeholder="Enter Email">
            </div>
            <h3>If you did not register a valid email with us, we cannot reset your password!</h3>
   
        
            <div class="form-submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}


