  /*-----Login Form-----*/
  body{
    /* margin: 0;
    padding: 0;
    background: url(purplebackground.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif; */
    margin: 0;
    padding: 0;
    font-family: arial;
    background: #a020f0;
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;
    overflow: hidden;
  }

  .loginbox {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

  }

  h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }

  .loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

  }

  .loginbox input {
    width: 100%;
    margin-bottom: 20px;
  }

  .loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
  }

  .loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb25fb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  .loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  .loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  .loginbox a:hover{
    color: #ffc107;
  }    

  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    }
    .center h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
    }
    .center form{
    padding: 0 40px;
    box-sizing: border-box;
    }
    form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    }
    .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline:none;
    }
    .txt_field label{
    position:absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    }
    /* .txt_field span: ::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9
    transition: .5s;
    } */
    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label{
        top: -5px;
        color: #2691d9;
    }
    .txt_field input:focus ~ span::before,
    .txt_field input:valid ~ span::before{
        width:100%;
    }
    .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
    text-decoration: none;
    }
    .pass:hover{
    text-decoration: underline;
    }
    input[type="submit"]{
        width: 100%;
        height: 50px;
        border: 1px solid;
        background: #800080;
        border-radius: 25px;
        font-size: 18px;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        margin-top: 15px;
    }
    /* input[type="submit"]:hover{
        border-color: #269d9;
        transition: .5s;
    } */
    .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
    }
    .signup_link a{
    color: #2691d9;
    text-decoration: none;
    }
    .signup_link a:hover{
        text-decoration: underline;
    }
    /*-----registration form-----*/
    
    *{
      margin : 0;
      padding: 0;
      box-sizing: border-box;
      font-family: arial;
  }
  body{
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background: #a020f0;
      background-size:cover;
  }
  .container{
      max-width: 700px;
      width: 100%;
      background: #fff;
      padding: 25px 30px;
      border-radius: 5px;
  }
  .container .title{
      font-size: 25px;
      font-weight: 500;
      position: relative;
  }
  .container .title::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 30px;
      background: #800080;
  }
  .container form .user-details{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: calc(100% / 2 -20px);
  }
  form .user-details .input-box .details{
      display: block;
      font-weight;: 500;
      margin-bottom: 5px;
  }
  .user-details .input-box input{
      height: 45px;
      width: 100%;
      outline: none;
      border-radius: 5px;
      border:1px solid #ccc;
      padding-left:15px;
      font-size:16px;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
      border-color: #9b59b6
  }
  form .button{
      height: 45px;
      margin: 45px 0;
  }
  form .button input{
      width: 100%;
      height: 50px;
      border: 1px solid;
      background: #800080;
      border-radius: 25px;
      font-size: 18px;
      color: #e9f4fb;
      font-weight: 700;
      cursor: pointer;
      outline: none;
  }
  form .button input:hover{
      background: #800080;
  }
  @media (max-width: 584px) {
      .container{
          max-width: 100%;
      }
      form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
      }
  }
  .container form .user-details{
      max-height: 300px;
  }
  .signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
  }
  .signup_link a{
  color: #2691d9;
  text-decoration: none;
  }
  .signup_link a:hover{
      text-decoration: underline;
  }