<div 
    class="container-center"
    style="width:100vw;display:flex;justify-content:center;"
>
    <h1>Login</h1>
    <form method="post" style="background:white;position:relative;height:30em;">
        <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
            Not a member? <a href="#">Sign Up</a>
        </div>
    </form>
</div>

