<div class="center">
    <h1>Registration</h1>
    <form method="post">
        <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <a href = "{{url_for('forgotpw')}}" class="pass">Forgot Password?</a>
        <input type="submit" value="Login">
        <div class="signup_link">
            Not a member? <a href="#">Sign Up</a>
        </div>
    </form>
</div>
